{deps, [
        {ibrowse, "4.0.1", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.1"}}},
        {jsx, "1.3.1", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.3.1"}}}
       ]}.
{erl_opts, [fail_on_warning,debug_info,{d,debug}]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{edoc_opts, [
             {doclet, edown_doclet},
             {source_path, ["src", "test"]},
             {stylesheet, ""},
             {image, ""},
             {top_level_readme, {"./README.md", "https://github.com/ehedenst/erlang-appdotnet"}},
             {app_default,"http://www.erlang.org/doc/man"}
            ]}.